*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

.container{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    text-align: center;
    color: #333

}

.GeneratePassword, .ChangePassword{
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}

button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.message {
    color: green;
    font-weight: bold;
    text-align: center;
}